(
    arena_radius: 3000.0,
    ground_height: 0.0,
    flight_ceiling_height: 2000.0,
    ceiling_falloff_range: 250.0,
    out_of_bounds_grace_seconds: 20.0,
    fighter1_spawn: (
        position: (165.0, 690.0, 375.0),
        rotation_degrees: (0.0, 277.0, 0.0),
        initial_speed: 60.0,
        initial_throttle: 0.67,
        initial_damage: Some((
            total_hit_points_fraction: Some(0.66),
            left_wing_fraction: Some(0.86),
            right_wing_fraction: Some(0.38),
            pitch_tail_fraction: Some(0.89),
            yaw_tail_fraction: Some(0.94),
            engine_fraction: Some(0.77),
        )),
    ),
    fighter2_spawn: (
        position: (25.0, 690.0, -715.0),
        rotation_degrees: (0.0, 277.0, 0.0),
        initial_speed: 60.0,
        initial_throttle: 0.67,
        initial_damage: Some((
            total_hit_points_fraction: Some(0.65),
            left_wing_fraction: Some(0.79),
            right_wing_fraction: Some(0.95),
            pitch_tail_fraction: Some(0.41),
            yaw_tail_fraction: Some(0.90),
            engine_fraction: Some(0.77),
        )),
    ),
    obstacles: [],
    ground_clutter: [],
    ground_accents: [],
    sky_markers: [],
)
