(
    bindings: (
        throttle_up: (
            keyboard_primary: Some("ShiftLeft"),
            keyboard_secondary: Some("ArrowUp"),
            mouse_primary: None,
            mouse_secondary: None,
        ),
        throttle_down: (
            keyboard_primary: Some("ControlLeft"),
            keyboard_secondary: Some("ArrowDown"),
            mouse_primary: None,
            mouse_secondary: None,
        ),
        brake: (
            keyboard_primary: Some("Space"),
            keyboard_secondary: None,
            mouse_primary: None,
            mouse_secondary: None,
        ),
        pitch_positive: (
            keyboard_primary: Some("KeyS"),
            keyboard_secondary: Some("KeyV"),
            mouse_primary: None,
            mouse_secondary: None,
        ),
        pitch_negative: (
            keyboard_primary: Some("KeyW"),
            keyboard_secondary: None,
            mouse_primary: None,
            mouse_secondary: None,
        ),
        roll_positive: (
            keyboard_primary: Some("KeyE"),
            keyboard_secondary: Some("ArrowRight"),
            mouse_primary: None,
            mouse_secondary: None,
        ),
        roll_negative: (
            keyboard_primary: Some("KeyQ"),
            keyboard_secondary: Some("ArrowLeft"),
            mouse_primary: None,
            mouse_secondary: None,
        ),
        yaw_positive: (
            keyboard_primary: Some("KeyA"),
            keyboard_secondary: None,
            mouse_primary: None,
            mouse_secondary: None,
        ),
        yaw_negative: (
            keyboard_primary: Some("KeyD"),
            keyboard_secondary: None,
            mouse_primary: None,
            mouse_secondary: None,
        ),
        fire_gun: (
            keyboard_primary: Some("Enter"),
            keyboard_secondary: None,
            mouse_primary: Some("Left"),
            mouse_secondary: Some("Right"),
        ),
        repair_aircraft: (
            keyboard_primary: Some("KeyX"),
            keyboard_secondary: None,
            mouse_primary: None,
            mouse_secondary: None,
        ),
        toggle_controls_guide: (
            keyboard_primary: Some("KeyH"),
            keyboard_secondary: None,
            mouse_primary: None,
            mouse_secondary: None,
        ),
        reset_match: (
            keyboard_primary: Some("KeyR"),
            keyboard_secondary: None,
            mouse_primary: None,
            mouse_secondary: None,
        ),
        rear_view: (
            keyboard_primary: Some("KeyC"),
            keyboard_secondary: None,
            mouse_primary: Some("Middle"),
            mouse_secondary: None,
        ),
        toggle_local_pilot_mode: (
            keyboard_primary: Some("F3"),
            keyboard_secondary: None,
            mouse_primary: None,
            mouse_secondary: None,
        ),
        toggle_audio_mute: (
            keyboard_primary: Some("KeyM"),
            keyboard_secondary: None,
            mouse_primary: None,
            mouse_secondary: None,
        ),
        toggle_mouse_capture: (
            keyboard_primary: Some("Tab"),
            keyboard_secondary: None,
            mouse_primary: Some("Forward"),
            mouse_secondary: None,
        ),
    ),
    mouse_x_axis: (
        target: Roll,
        sensitivity: 1.0,
        weight: 1.0,
        invert: false,
    ),
    mouse_y_axis: (
        target: Pitch,
        sensitivity: 1.0,
        weight: 1.0,
        invert: false,
    ),
    keyboard_throttle_weight: 1.0,
    keyboard_pitch_weight: 1.0,
    keyboard_roll_weight: 1.0,
    mouse_smoothing: 18.0,
    capture_mouse_on_start: true,
)
